.movie-img {
  height: 100px;
}

.movie-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  width: 95%;
}

.movie {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.movie:hover {
  transform: scale(1.02);
  transition: 0.3s;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.movie-info {
  margin-left: 20px;
}

.movie-info-text {
  padding: 5px;
}

.img-container {
  display: flex;
  flex-direction: row-reverse;
}

.favourite-icon {
  height: 30px;
}
