.searchbar {
  width: 400px;
  border-radius: 10px;
  background-color: rgb(128, 255, 212);
  height: fit-content;
  outline: none;
  padding: 5px 5px 5px 10px;
  font-size: 24px;
}

.searchbar:hover {
  background-color: rgb(186, 255, 232);
  transition: 0.2s;
}
